body {
    font-family: Arial, sans-serif;
    background: #eef2f7;
}

.container {
    max-width: 500px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

h2 {
    font-size: 48px;
    color: #27ae60;
}

a {
    display: inline-block;
    margin: 15px;
    padding: 10px 18px;
    /* background: #3498db; */
    background: #1c7b9e;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

a:hover {
    background: #305b8f;
}

